@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(241, 241, 241); */
  background-attachment: fixed;
  font-family: "__geistSansFont_deb525", arial;
  font-weight: 400;
  font-style: normal;
}
#root {
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
